
/* Extra Large Screen */
@media only screen and (min-width: 1441px) {

    .nav-list:before,
    .nav-list:after {
        width: 470px;
    }

    .nav-list:before {
        right: 10%;
    }

    .nav-list:after {
        left: 10%;
    }

    .splide__arrow--prev {
        left: -3rem;
    }

    .splide__arrow--next {
        right: -3rem;
    }

}