/* Extra Large Screen */
@media only screen and (min-width: 1441px) {
    /* Header Ribbon */
    .header-ribbon {
        padding: 0 20.625rem;
    }

    .header-ribbon-secondary li:nth-child(2n) {
        margin: 0 3.69rem;
    }

    /* Navbar */
    .nav {
        background-color: #000;
        opacity: 0.5;
    }

    .navbar-menu {
        width: 1440px;
        padding: 0 24.43rem;
    }

    .nav-list {
        display: flex !important;
    }

    .navbar-toggle {
        display: none;
    }

    /* Home */
    .home-heading {
        padding: 15.3125rem 13.8125rem 15.31rem;
    }

    .hero-subheading {
        justify-content: flex-start;
        font-size: var(--hero-font-size);
        letter-spacing: 1.13px;
    }

    .hero-heading {
        text-align: start;
        font-size: var(--medium-font-size);
        padding: .5rem 0 2.5rem 0;
        width: 50%;
    }

    .hero-btn {
        width: 15.375rem;
        padding: 0.875rem 1.5rem 0.75rem;
    }

    /* Discover */
    .img-sm,
    .img-md {
        display: none;
    }

    .img-lg {
        display: block;
        padding: 3rem;
        height: 50rem;
    }

    .discover-content {
        position: relative;
    }

    .discover-img {
        height: 40rem;
    }

    .discover-info {
        width: 60%;
        padding: 3.75rem calc(7%);
        position: absolute;
        top: -14px;
        left: calc(20%);
        opacity: 0.8;
        border-bottom: 0.5rem solid var(--border-color);
    }

    .discover-subheading {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .discover-paragraph {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .discover-heading {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    .discovery-btn {
        width: 8.75rem;
    }

    /* Ticket */
    .tickets-container {
        padding: 4rem 0 15rem;
    }

    .ticket-img .img-md {
        padding: 0;
    }

    .ticket-content {
        position: relative;
        width: 100%;
        height: 30.43rem;
        margin: 3rem 0 3rem;
    }

    .ticket-img-carousel {
        position: absolute;
        top: 0;
        right: 0;
    }

    .ticket-info {
        width: calc(70%);
        position: absolute;
        top: calc(43%);
        left: 0;
        opacity: 0.9;
    }

    .ticket-info {
        border-bottom: 0;
        border-right: 0.5rem solid var(--border-color);
    }

    /* Access Tool */
    .tools-resources .container {
        padding: 0 3rem 0;
    }

    .box-white {
        width: 48%;
        padding: 67px 35px 400px 35px;
    }

    /*Footer*/
    .footer-container {
        margin-top: 5rem;
        background-color: var(--text-color);
    }

    .footer-content {
        width: 75rem;
        padding: 3rem 5rem;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .footer-heading {
        display: none;
    }

    .footer-form {
        order: 2;
        margin-top: 16rem;
    }

    .footer-form form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .form-input {
        width: 70%;
        height: 2.75rem;
        padding: 0 1rem;
        border-radius: 0;
    }

    .form-submit {
        width: 25%;
        height: 2.75rem;
        background-color: var(--ribbon-color);
        color: var(--white-color);
        border-radius: 10px;
        margin: 0 15px;
    }

    .footer-accordian {
        order: 1;
        display: flex;
        justify-content: space-between;
    }

    .sub-content {
        display: block;
        font-size: var(--normal-font-size);
    }

    .accordian-expend {
        display: none;
    }

    .sub-content li {
        height: 3rem;
    }

    .sub-content li:first-child {
        margin-top: 1rem;
    }

    .accordian-content {
        border-top: 0;
    }

    .accordian-content:last-child {
        border-bottom: 0;
    }
}