
/* Extra Small Screen */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .banner-text-mobile {
        font-size: 0.65rem !important;
    }

    .hero-heading-mobile {
        font-size: 3rem !important;
    }

    .collection .sector-heading {
        color: var(--body-color) !important;
    }

    .explore .sector-heading {
        display: none !important;
    }

    .bright-green-text-mobile {
        color: var(--body-color) !important;
    }

    .white-boxes {
        margin: 6rem 1rem 0
    }

    .sector-heading-mobile {
        display: block !important;
        font-size: 2.4rem !important;
    }

    .hidden-mobile {
        display: none !important;
    }

    .sector-heading {
        font-size: 2.4rem !important;
    }

    .footer-content {
        padding: 2.5rem 2rem;
    }

    .footer-accordian-mobile {
        margin-top: 3rem;
        color: var(--white-color);
        font-family: var(--inter-bold-font);
        font-size: 1.5rem;
    }

    .accordian-content-mobile {
        height: 5rem;
        padding-top: 1.5rem;
        border-top: 1px solid var(--white-color-half-opacity);
    }

    .accordian-content-mobile:last-child {
        border-bottom: 1px solid var(--white-color-half-opacity);
    }

    .footer-heading-mobile {
        font-family: "Heebo", sans-serif;
        font-size: 1.1rem;
        line-height: 1;
        color: var(--white-color);
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 1.2rem;
    }

    .form-submit {
        margin-bottom: 3rem;
    }

    .copyright {
        font-size: 0.65rem;
        color: var(--white-color-half-opacity);
        font-weight: 100;
    }

    .full-width-img {
        width: 100%;
        object-fit: cover;
    }
}

@media only screen and (min-width: 481px) {
    .hidden-md {
        display: none !important;
    }
}