
/* Extra Large Screen */
@media only screen and (min-width: 1441px) {

    .nav-list:before,
    .nav-list:after {
        width: 470px;
    }

    .nav-list:before {
        right: 10%;
    }

    .nav-list:after {
        left: 10%;
    }

}