/* Variables CSS */
:root {
    --header-height: 4.3rem;

    /* Colors */
    --ribbon-color: hsl(154, 77%, 31%);
    --text-color: hsl(138, 80%, 12%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsla(154, 77%, 31%, 0.8);
    --box-shadow: hsla(210, 55%, 24%, .1);
    --border-color: hsl(51, 75%, 58%);

    /*========== Font and typography ==========*/
    --inter-bold-font: "Inter-Bold", sans-serif;
    --mr_alex-font: "MrAlex", serif;
    --mr_alexbold-font: "mr_alexbold", serif;
    --heebo_regular-font: "Heebo-Regular", sans-serif;
    --heebo_bold-font: "Heebo-Regular_Bold", sans-serif;
    --upper-heading-size: 0.813rem;
    --section-heading-size: 3.125rem;
    --paragraph-size:1.125rem;
    --big-font-size: 5.625rem;
    --medium-font-size: 3.125rem;
    --hero-font-size: 4.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --xsmall-font-size: .75rem;
    --xxsmall-font-size: .5rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-fixed: 100;
    --z-cross: 1000;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'MrAlex';
    src: url('../fonts/MrAlex-Bold.eot');
    src: url('../fonts/MrAlex-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MrAlex-Bold.woff2') format('woff2'),
    url('../fonts/MrAlex-Bold.woff') format('woff'),
    url('../fonts/MrAlex-Bold.ttf') format('truetype'),
    url('../fonts/MrAlex-Bold.svg#MrAlex-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

.btn {
    display: inline-block;
    padding: 14px 88px 12px;
    border-radius: 22.5px;
    font-size: 13px;
    letter-spacing: 1.08px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--body-color);
}

.btn.border-btn {
    background-color: transparent;
    border: 2px solid #fff;
}

.btn.border-bottom {
    border: 0;
    border-bottom: 2px solid;
    padding: 0 45px 12px;
    background: transparent;
    border-radius: 0
}

.align-center {
    text-align: center !important;
}

.container{
    width: 100%;
    max-width: 83.75rem;
    margin: 0 auto;
}

ol,ul {
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}


p{font-size: 1.125rem}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-sm,
.img-md,
.img-lg {
    display: none;
    width: 100%;
}

/* Reusable CSS Classes */

.display-none {
    display: none !important;
}

.main {
    overflow: hidden;
    position: relative;
    top: 35px;
    left: 0;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-btn,
.adventure-btn,
.discovery-btn,
.form-submit {
    cursor: pointer;
}

.title {
    color: var(--text-color);
}

.title .heading {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.title h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 1
}

.upper-heading {
    font-size: var(--upper-heading-size);
    font-family: var(--heebo_regular-font);
    margin-bottom: var(--upper-heading-size);
    text-transform: uppercase;
    text-align: center;
}

.sector-heading {
    font-size: var(--section-heading-size);
    font-family: var(--heebo_regular-font);
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.sector-heading-mobile {
    font-size: var(--section-heading-size);
    font-family: var(--heebo_regular-font);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

.sector-paragraph {
    font-size: var(--paragraph-size);
    font-family: var(--heebo_regular-font);
    margin-bottom: 2rem;
    text-align: center;
}

.btn-text {
    font-size: var(--upper-heading-size);
    font-family: var(--heebo_regular-font);
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/* Ribbon */
.header-ribbon {
    background-color: var(--ribbon-color);
    color: var(--white-color);
    font-family: var(--inter-bold-font);
    font-size: var(--xsmall-font-size);
    font-weight: var(--font-medium);
    letter-spacing: 1px;
    padding: 0 3.75rem;
}

.header-ribbon-wrap {
    height: 2.18rem;
}

.ribbon-link {
    color: var(--white-color);
    text-decoration: underline;
}

.header-ribbon-secondary li:nth-child(2n) {
    margin: 0 2.5rem;
}

/* Navbar */
.nav {
    position: relative;
    font-family: var(--heebo_regular-font);
    z-index: var(--z-fixed);
}

.navbar-menu {
    width: 980px;
    max-width: 1440px;
    padding: 0 8.24rem;
    margin: 0 auto;
}

.nav-list {
    height: 4.375rem;
    display: flex;
}

.nav-link .nav-icon {
    width: 20px;
    height: 20px;
}

.nav-link .nav-arrow {
    width: 15px;
    height: 15px;
    transform: rotate(270deg) translateX(2px);
    margin-left: 15px;
}

.navbar-toggle {
    display: none;
}

.navbar-close {
    display: none;
}

/* Home */
.home {
    color: var(--white-color);
}

.hero-subheading {
    font-family: var(--inter-bold-font);
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: var(--big-font-size);
}

.banner-list {
    margin-right: 10px;
    border-right: 2px solid var(--white-color);
    padding-right: 10px;
    margin-bottom: 10px;
}

.banner-list:last-child {
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
}

.hero-heading {
    font-family: var(--mr_alex-font);
    font-size: var(--hero-font-size);
    line-height: 1;
    text-align: center;
    padding: 2.5rem 0;
}

.hero-btn {
    min-width: 15.375rem;
    height: 2.8125rem;
    padding: 0.875rem 5.5rem 0.75rem;
    font-family: var(--inter-bold-font);
    text-align: center;
    border-radius: 1.4rem;
    border: solid 1.5px var(--white-color);
}

/* Adventure Info */

.info {
    background: url(../images/group-6.png) no-repeat center center fixed;
    background-size: cover;
}

.adventure-container {
    padding: 3.68rem 1rem;
}

.adventure-subheading {
    color: var(--text-color);
    font-family: var(--heebo_regular-font);
    font-size: var(--normal-font-size);
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 0.825rem;
}

.adventure-heading {
    font-family: var(--heebo_regular-font);
    font-size: var(--medium-font-size);
    line-height: 1;
    margin-bottom: 2rem;
    color: var(--text-color);
    letter-spacing: normal;
    text-align: center;
}

.adventure-btn {
    max-width: 18rem;
    min-width: 15.375rem;
    height: 2.8125rem;
    margin: 4rem auto 0;
    font-family: var(--heebo_regular-font);
    background-color: var(--text-color);
    color: var(--white-color);
    text-align: center;
    padding: 14px 0;
    border-radius: 20px;
}

/* slider */

.splide__list {
    align-items: center;
}

.splide__pagination {
    bottom: -1.5rem;
}

.splide__arrows {
    display: none;
}

.splide__slide {
    width: fit-content !important;
}

.mg-left-6rem {
    margin-left: 6rem;
}

.splide__slide img {
    width: 7rem;
    height: auto;
}

/* discover */

.discover-info {
    background-color: var(--ribbon-color);
    color: var(--white-color);
    text-align: center;
}

.discover-subheading {
    font-family: var(--inter-bold-font);
    font-size: var(--upper-heading-size);
}

.discover-paragraph {
    font-family: var(--heebo_regular-font);
    font-weight: var(--font-regular);
}

.discover-heading {
    font-family: var(--heebo_bold-font);
}

.discovery-btn {
    font-family: var(--inter-bold-font);
    padding: 1rem 0;
    border-bottom: 1px solid var(--white-color);
    margin: 0 auto;
}

/* Access Tool */
.tools-resources {
    position: relative;
}

.box-white{
    width: 47%;
    background-color: #fff;
    padding: 67px 75px 464px 59px;
    color: var(--text-color);
}

/* gallery */
.gap-20 {
    gap: 20px;
}

.img-cta-box {
    position: relative;
}

.cta-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(17 17 17 / 50%);
}


.gallery-container .cta-content > * {
    color: var(--white-color);
}

.gallery-container .cta-content h3 {
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 22px;
    font-size: 2.5rem;
}

/*Footer*/
.footer-container {
    margin-top: 5rem;
    background-color: var(--text-color);
}

.footer-content {
    padding: 3rem 5rem;
}

.footer-heading {
    font-family: var(--heebo_bold-font);
    font-size: 1.25rem;
    line-height: 1;
    color: var(--white-color);
    margin-bottom: 1rem;
}

.footer-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    width: 100%;
    height: 2.75rem;
    border-radius: 10px;
    padding: 0 1rem;
}

.form-submit {
    width: 100%;
    height: 2.75rem;
    background-color: var(--ribbon-color);
    color: var(--white-color);
    border-radius: 2rem;
    margin-top: 1rem;
}

.footer-accordian {
    margin-top: 3rem;
    color: var(--white-color);
    font-family: var(--inter-bold-font);
    font-size: 1.5rem;
}

.accordian-content {
    height: 5rem;
    padding-top: 1.5rem;
    border-top: 0.125rem solid var(--white-color);
}

.sub-content {
    display: none;
}

.accordian-content:last-child {
    border-bottom: 0.125rem solid var(--white-color);
}

.copyright {
    text-align: center;
    padding: 5rem;
    font-family: var(--inter-bold-font);
    color: var(--white-color);
}

/* Media Query */

/* Extra Small Screen */
@media only screen and (min-width: 320px) and (max-width: 768px) {

}

/* Small Screen */
@media only screen and (max-width: 768px) {

    .hero-img {
        background: url(../images/hero-image-sm.png) no-repeat center center fixed;
        width: 100%;
        height: fit-content;
        background-size: cover;
    }

    .header-ribbon-wrap {
        justify-content: center;
        font-size: var(--xxsmall-font-size);
    }

    .header-ribbon-secondary {
        display: none;
    }

    /* Navbar */
    .nav-list {
        position: fixed;
        top: 2.18rem;
        left: 0;
        background-color: var(--ribbon-color);
        width: 100%;
        height: fit-content;
        box-shadow: 0 1px 1rem var(--box-shadow);
        padding-block: 1.25rem 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        transition: top .4s;
        z-index: var(--z-fixed);
    }

    .navbar-close {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        z-index: var(--z-cross);
    }

    .navbar-toggle {
        display: block;
        position: absolute;
        left: 20px;
        top: 11px;
    }

    .navbar-toggle img {
        width: 33px;
        height: 30px;
    }

    /* Home */

    .home-content {
        padding: 5rem 1.25rem 5.75rem 1.25rem;
    }

    .hero-subheading {
        justify-content: center;
        font-size: var(--xsmall-font-size);
        letter-spacing: 1.13px;
        text-transform: uppercase;
    }

    .hero-heading {
        font-family: var(--mr_alex-font);
        line-height: 1;
        margin: 9px 0 36px;
    }

    .hero-btn {
        text-align: center;
    }

    /* Slider */
    .adventure-carousel {
        margin-top: 1.25rem;
        padding-left: 1.875rem;
    }

    /* Discover */
    .img-sm {
        display: block;
    }

    /* Discovery */
    .discover-info {
        padding: 3.75rem 1.25rem;
    }

    .discover-subheading {
        font-size: var(--xsmall-font-size);
        letter-spacing: 1.08px;
        margin-bottom: 1rem;
    }

    .discover-paragraph {
        font-size: var(--normal-font-size);
        margin-bottom: 1rem;
    }

    .discover-heading {
        font-size: var(--hero-font-size);
        margin-bottom: 1rem;
    }

    .discovery-btn {
        width: 15.75rem;
    }

    /* Ticket */
    .ticket-img-carousel {
        position: relative;
    }

    .tickets-container {
        padding-top: 4rem;
    }

    .ticket-arrows {
        width: 100%;
        position: absolute;
        top: calc(50%);
    }

    .left-arrow,
    .right-arrow {
        background-color: var(--ribbon-color);
        width: 2.75rem;
        height: 2.75rem;
    }

    .left-arrow img,
    .right-arrow img {
        margin: 9px auto;
    }

    .ticket-info {
        border-bottom: 0.5rem solid var(--border-color);
    }

    /* Access Tool */
    .box-white {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 62px;
    }

    .box-white:first-child {
        display: none;
    }

    .box-white .title {
        text-align: center;
    }

    .img-cta-wrapper {
        position: static;
    }

    /*Gallery*/

    .gallery-container .flex-container {
        flex-wrap: wrap;
        gap: 0;
    }

    .gallery-container .img-wrapper {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 20px;
    }

    .gallery-container .img-cta-box {
        padding: 1.25rem 2rem;
    }

    .sector-heading-mobile {
        display: none;
    }
}

/* Tab Screen */
@media only screen and (min-width: 769px) and (max-width: 1440px) {

    .hero-img {
        width: 100%;
        height: fit-content;
        background: url(../images/bitmap-22.png) no-repeat center center fixed;
        background-size: cover;
    }

    /* Header Ribbion */
    .header-ribbon {
        padding: 0 3rem;
    }

    .header-ribbon-secondary {
        display: flex;
    }

    /* Navbar */
    .nav {
        background-color: #000;
        opacity: 0.5;
    }

    .navbar-menu {
        width: 100%;
        padding: 0 8.43rem;
    }

    .nav-list {
        display: flex !important;
    }

    .navbar-toggle {
        display: none;
    }

    .home-heading {
        padding: 15.3125rem 8.75rem 15.31rem;
    }

    .hero-subheading {
        justify-content: flex-start;
        font-size: var(--normal-font-size);
        letter-spacing: 1.13px;
    }

    .hero-heading {
        font-size: var(--medium-font-size);
        text-align: start;
        padding: .5rem 0 2.5rem 0;
        width: 50%;
    }

    .hero-btn {
        width: 15.375rem;
        text-align: center;
        padding: 0.875rem 2.5rem 0.75rem;
    }

    /* Discover */
    .img-sm {
        display: none;
    }

    .img-md {
        display: block;
        padding: 3rem;
        height: 43rem;
    }

    .discover-content {
        position: relative;
    }

    .discover-img {
        height: 40rem;
    }

    .discover-info {
        width: 50%;
        padding: 3.75rem calc(6%);
        position: absolute;
        top: -14px;
        left: calc(25%);
        opacity: 0.8;
        border-bottom: 0.5rem solid var(--border-color);
    }

    .discover-subheading {
        font-size: var(--upper-heading-size);
        margin-bottom: 1rem;
    }

    .discover-paragraph {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .discover-heading {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    .discovery-btn {
        width: 10.75rem;
    }

    /*!* Ticket *!*/
    .tickets-container {
        padding: 4rem 0 15rem;
    }

    .ticket-img .img-md {
        padding: 0;
    }

    .ticket-content {
        position: relative;
        width: 100%;
        height: 30.43rem;
        margin: 3rem 0 3rem;
    }

    .ticket-img-carousel {
        position: absolute;
        top: 0;
        right: 0;
    }

    .ticket-info {
        width: calc(70%);
        position: absolute;
        top: calc(25%);
        left: 0;
        opacity: 0.9;
    }

    .ticket-info {
        border-bottom: 0;
        border-right: 0.5rem solid var(--border-color);
    }

    /* Access Tool */
    .tools-resources .container {
        padding: 0 3rem 0;
    }

    .box-white{
        padding-bottom: 55px;
    }

    .hidden-wide-screen {
        display: none;
    }

    .sector-heading-mobile {
        display: none;
    }

}

/* Extra Large Screen */
@media only screen and (min-width: 1441px) {
    /* Header Ribbon */
    .header-ribbon {
        padding: 0 20.625rem;
    }

    .header-ribbon-secondary li:nth-child(2n) {
        margin: 0 3.69rem;
    }

    /* Navbar */
    .nav {
        background-color: #000;
        opacity: 0.5;
    }

    .navbar-menu {
        width: 1440px;
        padding: 0 24.43rem;
    }

    .nav-list {
        display: flex !important;
    }

    .navbar-toggle {
        display: none;
    }

    /* Home */
    .home-heading {
        padding: 15.3125rem 13.8125rem 15.31rem;
    }

    .hero-subheading {
        justify-content: flex-start;
        font-size: var(--hero-font-size);
        letter-spacing: 1.13px;
    }

    .hero-heading {
        text-align: start;
        font-size: var(--big-font-size);
        padding: .5rem 0 2.5rem 0;
        width: 50%;
    }

    .hero-btn {
        width: 15.375rem;
        padding: 0.875rem 1.5rem 0.75rem;
    }

    /* Discover */
    .img-sm,
    .img-md {
        display: none;
    }

    .img-lg {
        display: block;
        padding: 3rem;
        height: 50rem;
    }

    .discover-content {
        position: relative;
    }

    .discover-img {
        height: 40rem;
    }

    .discover-info {
        width: 60%;
        padding: 3.75rem calc(7%);
        position: absolute;
        top: -14px;
        left: calc(20%);
        opacity: 0.8;
        border-bottom: 0.5rem solid var(--border-color);
    }

    .discover-subheading {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .discover-paragraph {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .discover-heading {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    .discovery-btn {
        width: 8.75rem;
    }

    /* Ticket */
    .tickets-container {
        padding: 4rem 0 15rem;
    }

    .ticket-img .img-md {
        padding: 0;
    }

    .ticket-content {
        position: relative;
        width: 100%;
        height: 30.43rem;
        margin: 3rem 0 3rem;
    }

    .ticket-img-carousel {
        position: absolute;
        top: 0;
        right: 0;
    }

    .ticket-info {
        width: calc(70%);
        position: absolute;
        top: calc(43%);
        left: 0;
        opacity: 0.9;
    }

    .ticket-info {
        border-bottom: 0;
        border-right: 0.5rem solid var(--border-color);
    }

    /* Access Tool */
    .tools-resources .container {
        padding: 0 3rem 0;
    }

    .box-white {
        width: 48%;
        padding: 67px 35px 400px 35px;
    }

    /*Footer*/
    .footer-container {
        margin-top: 5rem;
        background-color: var(--text-color);
    }

    .footer-content {
        width: 75rem;
        padding: 3rem 5rem;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .footer-heading {
        display: none;
    }

    .footer-form {
        order: 2;
        margin-top: 16rem;
    }

    .footer-form form{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .form-input {
        width: 70%;
        height: 2.75rem;
        padding: 0 1rem;
        border-radius: 0;
    }

    .form-submit {
        width: 25%;
        height: 2.75rem;
        background-color: var(--ribbon-color);
        color: var(--white-color);
        border-radius: 10px;
        margin: 0 15px;
    }

    .footer-accordian {
        order: 1;
        display: flex;
        justify-content: space-between;
    }

    .sub-content {
        display: block;
        font-size: var(--normal-font-size);
    }

    .accordian-expend {
        display: none;
    }

    .sub-content li {
        height: 3rem;
    }

    .sub-content li:first-child {
        margin-top: 1rem;
    }

    .accordian-content {
        border-top: 0;
    }

    .accordian-content:last-child {
        border-bottom: 0;
    }
}