/*@import url('variables.css');*/
/*@import url('responsive-wide.css');*/
/*@import url('responsive-medium.css');*/
/*@import url('responsive-small.css');*/
/*@import url('responsive-ultra-small.css');*/

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'MrAlex';
    src: url('../fonts/MrAlex-Bold.eot');
    src: url('../fonts/MrAlex-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MrAlex-Bold.woff2') format('woff2'),
    url('../fonts/MrAlex-Bold.woff') format('woff'),
    url('../fonts/MrAlex-Bold.ttf') format('truetype'),
    url('../fonts/MrAlex-Bold.svg#MrAlex-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

.btn {
    display: inline-block;
    padding: 14px 88px 12px;
    border-radius: 22.5px;
    font-size: 13px;
    letter-spacing: 1.08px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--text-color);
}

.btn.border-btn {
    background-color: transparent;
    border: 2px solid #fff;
}

.btn.border-bottom {
    border: 0;
    border-bottom: 2px solid;
    padding: 0 45px 12px;
    background: transparent;
    border-radius: 0
}

.align-center {
    text-align: center !important;
}

.container{
    width: 100%;
    max-width: 83.75rem;
    margin: 0 auto;
}

ol,ul {
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}


p{font-size: 1.125rem}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-sm,
.img-md,
.img-lg {
    display: none;
    width: 100%;
}

/* Reusable CSS Classes */

.display-none {
    display: none !important;
}

.justify-center {
    justify-content: center;
}

.align-item-center {
    align-items: center;
}

.gap-30 {
    gap: 30px;
}

.text-align-left {
    text-align: left !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.line-higher {
    line-height: 1.5rem;
}

.main {
    overflow: hidden;
    position: relative;
    top: 35px;
    left: 0;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-btn,
.adventure-btn,
.discovery-btn,
.form-submit {
    cursor: pointer;
}

.title {
    color: var(--text-color);
}

.title .heading {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.title h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 1
}

.upper-heading {
    font-size: var(--upper-heading-size);
    font-family: var(--heebo_regular-font);
    margin-bottom: var(--upper-heading-size);
    text-transform: uppercase;
    text-align: center;
}

.sector-heading {
    font-size: var(--section-heading-size);
    font-family: var(--heebo_regular-font);
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.sector-heading-mobile {
    font-size: var(--section-heading-size);
    font-family: var(--heebo_regular-font);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

.sector-paragraph {
    font-size: var(--paragraph-size);
    font-family: var(--heebo_regular-font);
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.5rem;
    font-weight: 400;
}

.btn-text {
    font-size: var(--upper-heading-size);
    font-family: var(--heebo_regular-font);
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/* Ribbon */
.header-ribbon {
    background-color: var(--ribbon-color);
    color: var(--white-color);
    font-family: var(--inter-bold-font);
    font-size: var(--xsmall-font-size);
    font-weight: var(--font-medium);
    letter-spacing: 1px;
    padding: 0 3.75rem;
}

.header-ribbon-wrap {
    height: 2.18rem;
}

.ribbon-link {
    color: var(--white-color);
    text-decoration: underline;
}

.header-ribbon-secondary li:nth-child(2n) {
    margin: 0 2.5rem;
}

/* Navbar */
.nav {
    position: relative;
    font-family: var(--heebo_regular-font);
    z-index: var(--z-fixed);
}

.nav-list {
    height: 4.375rem;
    display: flex;
}

.nav-list:before,
.nav-list:after {
    content: '';
    width: 535px;
    height: 1.5px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}

.nav-list:before {
    right: 0;
}

.nav-list:after {
    left: 0;
}

.nav-link .nav-icon {
    width: 20px;
    height: 20px;
}

.nav-link .nav-arrow {
    width: 15px;
    height: 15px;
    transform: rotate(270deg) translateX(2px);
    margin-left: 15px;
}

.navbar-toggle {
    display: none;
}

.navbar-close {
    display: none;
}

/* Home */
.home {
    color: var(--white-color);
}

.hero-subheading {
    font-family: var(--inter-bold-font);
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: var(--big-font-size);
}

.banner-list {
    margin-right: 10px;
    border-right: 2px solid var(--white-color);
    padding-right: 10px;
    margin-bottom: 10px;
}

.banner-list:last-child {
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
}

.hero-heading {
    font-family: var(--mr_alex-font);
    font-size: var(--hero-font-size);
    line-height: 1;
    text-align: center;
    padding: 2.5rem 0;
}

.hero-btn {
    min-width: 15.375rem;
    height: 2.8125rem;
    padding: 0.875rem 5.5rem 0.75rem;
    font-family: var(--inter-bold-font);
    text-align: center;
    border-radius: 1.4rem;
    border: solid 1.5px var(--white-color);
}

/* Adventure Info */

.info {
    background: url(../images/camp-background.png) no-repeat center center fixed;
    background-size: cover;
}

.adventure-container {
    padding: 3.68rem 1rem;
}

.adventure-subheading {
    color: var(--text-color);
    font-family: var(--heebo_regular-font);
    font-size: var(--normal-font-size);
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 0.825rem;
}

.adventure-heading {
    font-family: var(--heebo_regular-font);
    font-size: var(--medium-font-size);
    line-height: 1;
    margin-bottom: 2rem;
    color: var(--text-color);
    letter-spacing: normal;
    text-align: center;
}

.adventure-btn {
    max-width: 18rem;
    min-width: 15.375rem;
    height: 2.8125rem;
    margin: 4rem auto 0;
    font-family: var(--heebo_regular-font);
    background-color: var(--text-color);
    color: var(--white-color);
    text-align: center;
    padding: 14px 0;
    border-radius: 20px;
}

/* slider */

.splide__list {
    align-items: center;
}

.splide__pagination {
    bottom: -1.5rem;
}

.splide__arrows {
    display: none;
}

.splide__slide {
    width: fit-content !important;
}

.mg-left-6rem {
    margin-left: 6rem;
}

.splide__slide img {
    width: 7rem;
    height: auto;
}

/* discover */

.discover-info {
    background-color: var(--ribbon-color);
    color: var(--white-color);
    text-align: center;
}

.discover-subheading {
    font-family: var(--inter-bold-font);
    font-size: var(--upper-heading-size);
}

.discover-paragraph {
    font-family: var(--heebo_regular-font);
    font-weight: var(--font-regular);
}

.discover-heading {
    font-family: var(--heebo_bold-font);
}

.discovery-btn {
    font-family: var(--inter-bold-font);
    padding: 1rem 0;
    border-bottom: 1px solid var(--white-color);
    margin: 0 auto;
}

/* Access Tool */
.tools-resources {
    position: relative;
}

.box-white{
    width: 47%;
    background-color: #fff;
    padding: 67px 75px 464px 59px;
    color: var(--text-color);
}

/* gallery */
.gap-20 {
    gap: 20px;
}

.img-cta-box {
    position: relative;
}

.cta-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(17 17 17 / 50%);
}


.gallery-container .cta-content > * {
    color: var(--white-color);
}

.gallery-container .cta-content h3 {
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 22px;
    font-size: 2.5rem;
}

/*Footer*/
.footer-container {
    margin-top: 5rem;
    background-color: var(--text-color);
}

.footer-content {
    padding: 3rem 5rem;
}

.footer-heading {
    font-family: var(--heebo_bold-font);
    font-size: 1.25rem;
    line-height: 1;
    color: var(--white-color);
    margin-bottom: 1rem;
}

.footer-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    width: 100%;
    height: 2.75rem;
    border-radius: 10px;
    padding: 0 1rem;
}

.form-submit {
    width: 100%;
    height: 2.75rem;
    background-color: var(--ribbon-color);
    color: var(--white-color);
    border-radius: 2rem;
    margin-top: 1rem;
}

.footer-accordian {
    margin-top: 3rem;
    color: var(--white-color);
    font-family: var(--inter-bold-font);
    font-size: 1.5rem;
}

.accordian-content {
    height: 5rem;
    padding-top: 1.5rem;
    border-top: 0.125rem solid var(--white-color);
}

.sub-content {
    display: none;
}

.accordian-content:last-child {
    border-bottom: 0.125rem solid var(--white-color);
}

.copyright {
    text-align: center;
    padding: 5rem;
    font-family: var(--inter-bold-font);
    color: var(--white-color);
}

/* Media Query */